$color-primary: #26532B;
$color-secondary: #D69B61;
$color-secondary-dark: #5B3829;
$color-tertiary: #FA7921;

$color-white: #FEFFFE;
$color-white-dark: #DFDFDF;

$color-gray-lighter: #D2CBCB;
$color-gray-light: #AAAAAA;
$color-gray: #595758;
$color-gray-dark: #363537;

$color-black: #131B23;
